
<div class="modal fade" id="addBankModal" tabindex="-1" role="dialog" aria-labelledby="addBankModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addBankModalLabel">은행 추가</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">
            <div class="form-group text-left">
              <label for="bankID">ID</label>
                <input formControlName="bankID" type="text" class="form-control">
                </div>      
            <div class="form-group text-left">
              <label for="name">은행명</label>  
                <input formControlName="name" type="text" class="form-control">          
            </div>
                     
            <div class="form-group text-left">
              <label for="coinsValue">코인</label>  
                <input formControlName="coinsValue" type="text" class="form-control">          
            </div>            

            <div class="form-group text-left">
              <label for="cashValue">현금</label>  
                <input formControlName="cashValue" type="text" class="form-control">          
            </div>

            <div class="form-group text-left">
              <label for="cashCurrency">현금 단위</label>  

              <div>
              <select name="cashCurrency" formControlName="cashCurrency">
                <option value="WON">원화</option>                
              </select>
              </div>
            </div>

                
        </div>
        <div class="modal-footer">
          <button (click)="addBank(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">제출</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">종료</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="updateBankModal" tabindex="-1" role="dialog" aria-labelledby="updateBankModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateBankModalLabel">자산 업데이트</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">
            <div class="form-group text-left">
              <label for="bankID">ID</label>
                <input [ngModel]="bankID"formControlName="bankID" type="text" class="form-control">            
            </div>          
            <div class="form-group text-left">
              <label for="name">은행명</label>
                <input [ngModel]="name"formControlName="name" type="text" class="form-control">              
            </div>                      
        </div>
        <div class="modal-footer">
          <button (click)="updateBank(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">제출</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">종료</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteBankModal" tabindex="-1" role="dialog" aria-labelledby="deleteBankModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteBankModalLabel">자산 삭제</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteBank()">
        <div class="modal-body">
          현재 자산 삭제를 진행하시겠습니까?
        </div>
        <div class="modal-footer">
          <button (click)="deleteBank()" type="submit" class="btn btn-danger" data-dismiss="modal">예</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">아니오</button>
        </div>
      </form>
    </div>
  </div>
</div>






<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <div class="row">
      <h1 class="heading">은행 리스트 </h1> 
  </div>

 <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBankModal">은행 추가</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-hover">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="bc">ID</th>
            
                <th class="bc">은행명</th>
            
                <th class="bc">코인</th>  

                <th class="bc">현금</th>

                <th class="bc">현금 단위</th>

                <th class="bc">상태</th>       
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bank of allBanks">
          
                <td>{{bank.bankID}}</td>
            
                <td>{{bank.name}}</td>            

                <td>{{bank.coinsValue}}</td>

                <td>{{bank.cashValue}}</td>

                <td>{{bank.cashCurrency}}</td>
           
            <td>

              <button (click)="getForm(bank.bankID);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateBankModal">수정</button>

              <button (click)="setId(bank.bankID);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteBankModal">삭제</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>